@page
@model Kouris_CISS243_Lab2_1.Pages.CoreModel
@{
    ViewData["Title"] = "Core";
}
<h2 class="header" id="core">ASP.NET Core</h2>
<p>
    ASP.NET Core is the newest launch of the Framework version one was originally launched in 2016 and the lateste version Core 3.1 was released December of 2019.
    <a class="link" href="https://dotnet.microsoft.com/learn/aspnet/what-is-aspnet-core">What is ASP.NET Core?</a> and <a class="link" href="https://devblogs.microsoft.com/dotnet/announcing-net-core-3-1/">Announcing .NET Core 3.1</a>
    It is an open source, cross platform Web framework that is specifically designed to reduce overhead so third party packages can be added as needed by the design team.
    It accomplishes this by eliminating the need for some browser to server communication systems. As well it also allows for the creation of class libraries for use across .NET frameworks.
    <a class="link" href="https://www.tutorialsteacher.com/core/aspnet-core-introduction">ASP.NET Core Introduction</a> Core also allows for access to Third party libraries that greatly expands the
    ability to create dynamic web apps that are commonly in use today. <a class="link" href="https://andrewlock.net/aspnetcore-in-action-2e-getting-started-with-asp-net-core/">Andrew Lock</a>
</p>
<h2 class="header" id="summary">ASP.NET Summary</h2>
<p>
    In summary the release of ASP.NET core has established an environment that allows small teams to create dynamic and complex web applications that would not be possible
    without the predicessors in ASP.NET Forms and ASP.NET MVC. Forms being part of the original framework allowed developers to explore the infancy of dynamic web pages
    and web apps as well as conquer the problem of cross compatibility with web browsers. The introduction of MVC allowed for modular development between the model, contoller, and View
    greatly advancing the capabilities of a small team to create a dynamic easy to maintain scalable web apps and webpages. Finally, The development of ASP.NET Core advanced the ideas of the
    previous two frameworks and brought us the dynamic world of applications that we are all familiar with today.
</p>