@page
@model FormsModel
@{
    ViewData["Title"] = "Forms";
}


<h2 class="header" id="forms">ASP.NET Forms</h2>
<p>
    Forms launched with the first version of ASP.NET in 2002, before Forms were introduced any code used within the site would be written in chunks between script tags and
    any CSS would be writtin within style tags in the head section of the webpage. Having HTML, CSS, and code all in one file proved to be very difficult to debug and
    troubleshoot as well as very slow for browsers. Another huge issue facing developers was the fact that compatibility among browsers was very complicated so pages were
    limited in their abilities to accommodate that singular issue.
    <a class="link" href="https://medium.com/young-coder/did-asp-net-web-forms-need-to-die-4b7bce958aaa">Young Coder</a>
</p>
<p>
    Forms introduced a drag and drop control platform that allows for easy layout of webpages. Forms are user requested pages that are compiled on the server and the framework
    helps to generate the HTML markup. This makes the framework very quick and flexible.
    <a class="link" href="https://docs.microsoft.com/en-us/aspnet/web-forms/what-is-web-forms">Microsoft What is Web Forms?</a>
</p>
<p>
    Forms were the main basis for the framework before the introduction of MVC. Forms are also no longer supported by ASP.NET Core the newest form of ASP.NET.
    In forms code is often written in code-behind format where files are kept separate and the controller handles the compilation based on language used.
    This allows the developers to make adjustments much faster and easier than if it weren't compartmentalized.
    <a class="link" href="https://en.wikipedia.org/wiki/ASP.NET_Web_Forms">Wikipedia</a>
</p>
