@page
@model IndexModel
@{
    ViewData["Title"] = "ASP.NET Summary";
}

<div class="text-center">
    <h1 class="display-4">ASP.NET Summary</h1>
    <p>
        ASP.NET is a open source framework designed by Microsoft for the development of web applications. It is also widely compatible with web browsers and mobile platforms.
        ASP.NET allows for server side generation of dynamic web apps that can use client side software to update and allow for user interaction
        <a class="link" href="https://dotnet.microsoft.com/apps/aspnet">Microsoft ASP.NET</a>
    </p>
</div>
